<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/"></a>
        </li>
      </ul>
            {% block page %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </div>




    {% block footer %}
        {% block copyright %}
        {% endblock %}
    {% endblock %}

</body>
</html>